.table {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: var(--color-grey);
    overflow: hidden;
    position: relative;

    .control {
        z-index: 3;
        position: absolute;
        top: 2rem;
        left: 2rem;

        .arrows {
            display: none;
            gap: .5rem;

            @media screen and (max-width: 1050px) {
                display: flex;
            }

            .arrow {
                width: 2rem;
                height: 2rem;
                border: 2px solid var(--color-black);
                background-color: var(--color-white);
                border-radius: .5rem;
                transition: background-color .4s;
                text-align: center;
                text-transform: uppercase;
                font-size: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                
                &:active {
                    background-color: var(--color-black);

                    &:after {
                        filter: var(--filter-white);
                    }
                }

                &:after {
                    content: "";
                    position: relative;
                    width: 1.8rem;
                    height: 1.8rem;
                    background: url(../../assets/img/arrow.svg) no-repeat center center;
                    transition: .4s;

                    @media screen and (max-width: 550px) {
                        display: block;
                    }
                }
                    
                &.left-arrow {
                    &:after {
                        transform: rotate(180deg);
                    }
                }

                &.right-arrow {
                    &:after {

                    }
                }
            }

        }
    }

    .resources {
        padding: 7rem 0rem 4rem 1rem;
        position: relative;
        
        .col {
            z-index: 1;
            background-color: var(--color-white);
            border-radius: 1.2rem 0 0 1.2rem;

            .data {
                .data-header {
                    cursor: pointer;

                    span {
                        position: relative;
        
                        &:after {
                            content: "";
                            position: absolute;
                            right: -1rem;
                            top: 50%;
                            transform: translateY(-50%);
                            width: .7rem;
                            height: .7rem;
                            background: url(../../assets/img/arrow.svg) no-repeat center center;
                            transition: .4s;
                            filter: var(--filter-grey);
                        }
                    }
                }
    
                &.opened {
                    .data-header {
                        span {
                            &:after {
                                transform: translateY(-50%) rotate(90deg);
                            }
                        }
                    }
                }
            }
        }
    }

    .plans {
        width: 100%;
        height: auto;
        display: grid;
        padding: 7rem 1rem 4rem 1rem;
        margin-left: -1rem;
        grid-template-columns: 1fr 1fr 1fr;
        overflow-x: scroll;
        position: relative;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;

        &::-webkit-scrollbar { 
            display: none; 
        }
        
        .col {
            height: auto;
            position: relative;
            background-color: var(--color-white);
            //overflow: hidden;

            .col-header {
                border-bottom: 0.1rem solid var(--color-light-grey);
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 700;
            }

            .data {
                .data-header {
                    text-align: center;
                }
            }

            .col-footer {
                justify-content: center;
                display: flex;
                padding: 0 1.1rem;

                .btn {
                    text-decoration: none;
                    border: 2px solid var(--color-black);
                    color: var(--color-white);
                    background-color: var(--color-black);
                    padding: .4rem 1rem;
                    border-radius: 2rem;
                    transform: translateY(50%);
                    transition: background-color .4s;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 5rem;

                    @media screen and (max-width: 700px) {
                        border-radius: 1.5rem;
                    }

                    @media screen and (max-width: 550px) {
                        width: 75%;
                        font-size: 0;
                    }

                    &:hover, &:active, &:focus {
                        background-color: var(--color-white);
                        color: var(--color-black);

                        &:after {
                            filter: unset;
                        }
                    }

                    &:after {
                        content: "";
                        position: relative;
                        display: none;
                        width: 1.6rem;
                        height: 1.6rem;
                        background: url(../../assets/img/shop.svg) no-repeat center center;
                        transition: .4s;
                        filter: var(--filter-white);

                        @media screen and (max-width: 550px) {
                            display: block;
                        }
                    }
                }
            }

            &:nth-child(1) {
                z-index: 2;
                margin-top: -3rem;
                border-radius: 1.2rem 0 0 1.2rem;

                .col-header {
                    height: 3rem;
                    //background-color: var(--color-white);
                    color: var(--color-green-secondary);
                }
            }

            &:nth-child(2) {
                z-index: 3;
                margin-top: -6rem;
                border-radius: 1.2rem 1.2rem 0 0;
                color: var(--color-white);

                .data-header {
                    border-color: #87ecc7;
                }

                .col-header {
                    height: 6rem;
                    //background-color: var(--color-green-primary);
                    border-color: #87ecc7;
                }

                .subdata {
                    border-color: #87ecc7;
                }
            }

            &:nth-child(3) {
                z-index: 2;
                margin-top: -3rem;
                border-radius: 0 1.2rem 1.2rem 0;
                color: var(--color-green-secondary);

                .col-header {
                    height: 3rem;
                    //background-color: var(--color-white);
                }
            }
            
            .subdata {
                display: flex;
                flex-direction: column;
                position: relative;
                align-items: center;
                justify-content: center;

                &:after {
                    content: "";
                    width: 1rem;
                    height: 1rem;
                    display: block;
                    
                }

                &.has-resource {
                    &:after {
                        background: url(../../assets/img/check.svg) no-repeat center center;
                        filter: var(--filter-green-secondary);
                    }
                }

                &.no-has {
                    &:after {
                        background: url(../../assets/img/cross.svg) no-repeat center center;
                        filter: var(--filter-red);
                    }
                }
            }

            &:nth-child(1) {
                .data-header {
                    color: var(--color-green-secondary);
                    
                }

            }

            &:nth-child(2) {
                .data-header {
                    color: var(--color-white);
                }

                .subdata {
                    
                    &.has-resource {
                        &:after {
                            filter: var(--filter-green-primary);
                        }
                    }
                }

                background-color: var(--color-green-primary);
            }

            &:nth-child(3) {
                .data-header {
                    color: var(--color-green-secondary);
                }
            }
        }
    }

    .col {
        box-shadow: 0 0 1rem rgba(0,0,0,.2);
        
        .data {
            overflow: hidden;
            transition: max-height .4s;
            
    
            .data-header {
                padding: .5rem 1rem;
                border-bottom: 0.1rem solid var(--color-light-grey);
                margin-bottom: .5rem;
            }
    
            .subdata {
                min-height: 1.5rem;
                padding: .4rem 1rem .4rem 2rem;
                border-bottom: 0.1rem solid var(--color-light-grey);
            }
    
        } 
    }

    .btn {
        margin: auto;
    }
    
}